<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Добавление/редактирование</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="{{ form.surname.id_for_label }}" class="form-label">Фамилия</label>
        {{ form.surname }}
        <div class="invalid-feedback">{{ form.surname.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Имя</label>
        {{ form.name }}
        <div class="invalid-feedback">{{ form.name.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.middle_name.id_for_label }}" class="form-label">Отчество</label>
        {{ form.middle_name }}
        <div class="invalid-feedback">{{ form.middle_name.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.birthday.id_for_label }}" class="form-label">Дата рождения</label>
        {{ form.birthday }}
        <div class="invalid-feedback">{{ form.birthday.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.sex.id_for_label }}" class="form-label">Пол</label>
        {{ form.sex }}
        <div class="invalid-feedback">{{ form.sex.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.address.id_for_label }}" class="form-label">Адрес</label>
        {{ form.address }}
        <div class="invalid-feedback">{{ form.address.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.telephone_number.id_for_label }}" class="form-label">Номер телефона</label>
        {{ form.telephone_number }}
        <div class="invalid-feedback">{{ form.telephone_number.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Почта</label>
        {{ form.email }}
        <div class="invalid-feedback">{{ form.email.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.date_job.id_for_label }}" class="form-label">Дата трудойстройства</label>
        {{ form.date_job }}
        <div class="invalid-feedback">{{ form.date_job.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.job_post.id_for_label }}" class="form-label">Должность</label>
        {{ form.job_post }}
        <div class="invalid-feedback">{{ form.job_post.errors|first }}</div>
      </div>

      <div class="mb-3">
        <label for="{{ form.subject.id_for_label }}" class="form-label">Преподаваемый предмет</label>
        {{ form.subject }}
        <div class="invalid-feedback">{{ form.subject.errors|first }}</div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Закрыть
      </button>
      <button type="submit" class="btn btn-primary">Добавить/сохранить</button>
    </div>
  </form>