{% for teachers in teachers %}
<tr id="teachers-{{ teachers.pk }}" class="teachers-row">
  <td>{{ teachers.surname }}</td>
  <td>{{ teachers.name }}</td>
  <td>{{ teachers.middle_name }}</td>
  <td>{{ teachers.birthday }}</td>
  <td>{{ teachers.get_sex_display }}</td>
  <td>{{ teachers.address }}</td>
  <td>{{ teachers.telephone_number }}</td>
  <td>{{ teachers.email }}</td>
  <td>{{ teachers.date_job }}</td>
  <td>{{ teachers.job_post }}</td>
  <td>{{ teachers.subject }}</td>
  <td>
    <button class="btn btn-primary btn-sm" hx-get="{% url 'panel:teachers_edit' pk=teachers.pk %}" hx-target="#dialog"> <i class="fa-solid fa-pen-to-square"></i></button>
    <button class="btn btn-light btn-sm" hx-get="{% url 'panel:teachers_remove_confirmation' pk=teachers.pk %}" hx-target="#dialog"> <i class="fa-solid fa-trash"></i> </button>
  </td>
</tr>
{% endfor %}