{% load static %}
{% include 'include/header.html' %}
{% include 'include/navbar.html' %}


<body>
  <div class="container">
    <div class="px-5 my-5 text-center">
      <h1>Выберите страницу данных из списка ниже</h1>
    </div>

<select class="form-select" id="selectList" aria-label="">
  <option selected>Выберите список данных</option>
  <option data-id="{% url 'panel:teachers_index' %}">Учителя</option>
  <option data-id="{% url 'panel:groups_index' %}">Группы</option>
  <option data-id="{% url 'panel:works_index' %}">Работы</option>
  <option data-id="{% url 'panel:students_index' %}">Студенты</option>
</select>

<script>
  // Ждем, пока документ полностью загрузится
  document.addEventListener("DOMContentLoaded", function() {
    // Получаем ссылку на элемент <select>
    var selectList = document.getElementById('selectList');

    // Обрабатываем изменение значения в <select>
    selectList.addEventListener('change', function() {
      // Получаем выбранный элемент
      var selectedOption = selectList.options[selectList.selectedIndex];

      // Проверяем, есть ли у элемента атрибут data-id
      if (selectedOption.dataset.id) {
        // Получаем значение атрибута data-id и переходим по указанному URL
        var url = selectedOption.dataset.id;
        window.location.href = url;
      }
    });
  });
</script>

</body>

</html>