<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Удаление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Удалить запись с номером группы {{works.number_works}}?</p>
        <p class="text-muted">Это действие нельзя будет вернуть или отменить.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" hx-post = "{% url 'panel:works_remove' pk=works.pk %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' >Удалить</button>
    </div>
</div>